html {
	font-family: 'Roboto', sans-serif;
}

body > section > form > input.black.u-full-width {
	background-color: black;
	border-color: black;
	color: white;
}

body > section > form > div:nth-child(1) > div > input {
	margin: 25px auto 25px auto;
	border-radius: 50%;
	width: 125px;
	height: 125px;
	background-color: lightgrey;
	text-align: center;
	color: grey;
	font-size: 25px;
}

body > section > form > div:nth-child(2) > div > input {
	margin: 25px auto 25px auto;
	border-radius: 50%;
	width: 125px;
	height: 125px;
	background-color: lightgrey;
	text-align: center;
	color: grey;
	font-size: 25px;
}

body > section > form > input:nth-child(3) {
	text-align: right;
}

h2 {
	text-transform: uppercase;
}

.counter-container {
	width: 500px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}
.centered {
	text-align: center;
}

.notification {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background-color: black;
	color: white;
	position: absolute;
	margin-left: 27%;
	margin-top: 20px;
	font-size: 25px;
	visibility: hidden;
}

@media (max-width: 550px) {
	.counter-container {
		width: 100%
	}
	#calculateForm > div > div {
		width: 50%;
	}
}